<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Degree</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          I attended Queen's University from 2014-2019. I completed my B.ASc. in April 2019, specializing in software
          engineering.
        </li>
        <li>
          My main areas of focus are in backend development and database architecture/management. Other areas that I
          really enjoy are frontend development and application security.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Teaching Assistant - ELEC 377: Operating Systems</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Assisting in running a 2 hour lab each week with ~60 students
        </li>
        <li>
          Answering questions and clarifying concepts/problems
        </li>
        <li>
          Marking lab reports
        </li>
        <li>
          Being available after hours for extra help
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Professional Internship</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Between 3rd and 4th year, worked in industry as a junior software developer for IFS
        </li>
        <li>
          More about this in the work section
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Queen's Cyber Security Design Team - Executive</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Responsible for creating lecture material, and running tutorials with the team members
        </li>
        <li>
          Going over topics such as XSS and SQL injection attacks, reconnaissance, ARP spoofing, packet sniffing,
          exploits, firewalls, password-cracking, and more
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Frosh Week Leader</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Involved in being one of the leaders for a frosh group during frosh week.
        </li>
        <li>
          Myself, along with 8 others on a team, led a group of 30 first year students throughout the first week of
          being at Queen's. The goal was to welcome them to the school, and help them make friends and have a great
          introduction to what Queen's was like.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Queen's Technology and Media Association (QTMA) - Lead Developer</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          QTMA started a club to launch and support startup ideas. Our team's idea was to create a collaborative music
          playing app, where users can request and vote on songs in order to determine which ones will get played
          next.
        </li>
        <li>
          More about this in the projects section
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>