<mat-card class="education-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>About Me</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <img mat-card-image src="../../assets/images/iron-ring.jpg" alt="Queen's University">
    <mat-card-content>
      <ul>
          <li>
              Queen's University, B.ASc graduate, Computer Engineering, 2014-2019
          </li>
          <li>
              Pressional internship between 3rd and 4th year
          </li>
          <li>
            Teaching assistant for ELECT 377 - Operating Systems            
          </li>
          <li>
            Frosh week group leader
          </li>
        </ul>
    </mat-card-content>
  </div>
</mat-card>