<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Work Experience</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Venngage Inc., from June 2019 - March 2020 as a Software Developer.
        </li>
        <li>
          P&F Tool & Die, a branch of Magna International, for two summers: 2016 and 2018 as an IT Systems Analyst.
        </li>
        <li>
          IFS, formerly Mxi Technologies, from May 1st, 2017 - April 30th 2018 as a Junior Software Developer.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Venngage Inc.</mat-card-title>
    </mat-card-header>
    <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
      <mat-card-content>
        <ul>
          <li>
            Full stack developer, working with Docker, Express.js for Node.js, React, Redux, CSS to roll out new
            features, continuous improvements, and bugfixes on a weekly release basis
          </li>
          <li>
            Large focus on improving processes to follow agile techniques – implementing TDD, proper staging and
            pre-staging environments, code cleanups, project breakdown & scoping, etc.
          </li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Magna: Part & Tool Rentals System</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Replaced a paper ticket system used to track part and tool rentals. Roughly 20 hours per week were being
          wasted managing this paper system.
        </li>
        <li>
          Myself, along with a junior co-op developer, were given the opportunity to design and implement a web solution
          to manage the parts and tools.
        </li>
        <li>
          I took the lead developer/project manager role. I designed the database schema and setup the servers required
          for the project which included: database server running MariaDB, Apache server with PHP5, a GitLab server to
          host our code repository.
        </li>
        <li>
          Using Angular 6 and Google Material Design, we implemented a clean and user friendly website to manage these
          parts and tools in a more efficient manner.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Magna: Invoice & Payment Tracking System</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Collaborated with the Finance team to redesign and implement an MS Access solution to model the data for
          invoice and payment tracking as the existing solution could not support this.
        </li>
        <li>
          Designed and implemented a relational database model consisting of 23 tables.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IFS Work</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          Supported an aviation maintenance management software product for the commercial and defense industries.
        </li>
        <li>
          Main responsibilities included: feature design and implementation, bug fixes, code reviews, and
          documentation.
        </li>
        <li>
          The first project focused on a legacy system, managing parts and tools used for aircraft
          maintenance and employee scheduling. The second project focused on a separate aircraft maintenance scheduling
          application.
        </li>
        <li>
          Key technologies and approaches: AWS, PostgreSQL, AngularJS, Java backend, Docker, Shippable, Bit Bucket, Git,
          agile methodology.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>