<mat-toolbar justify-content: center>
  <span class="toolbar-center">
    <button mat-button [routerLink]="['workexperience']">Work Experience</button>
    <button mat-button [routerLink]="['projects']">Projects</button>
    <button mat-button [routerLink]="['']" style="font-size : 25px">Michael Tanel</button>
    <button mat-button [routerLink]="['education']">Education</button>
    <button mat-button [routerLink]="['extracurriculars']">Extracurriculars</button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>