<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Sports</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          I love to watch and play hockey. My favorite team is the Chicago Blackhawks.
        </li>
        <li>
          I also enjoy playing volleyball, soccer and golf.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Movies & TV Shows</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
          My favourite movies include: Goodfellas, A Night at the Roxbury, and The Wolf of Wall Street.
        </li>
        <li>
          My favourite TV shows include: Prison Break, Breaking Bad, The Sopranos, Entourage, and as of right now Money Heist.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>