<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Projects</mat-card-title>
  </mat-card-header>
  <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
    <mat-card-content>
      <ul>
        <li>
            <a href="https://github.com/MichaelTanel/CarRental">Car Rental Website</a>
        </li>
        <li>
          <a href="https://github.com/MichaelTanel/tanel-li-My-Note">MyNote</a>
        </li>
        <li>
          <a href="https://github.com/MichaelTanel/SleepIn">SleepIn</a>
        </li>
        <li>
          DJ Cloud: A mobile app that allows people to create a playlist where other users can vote on songs to determine what will be played next.
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>