/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #c6d1d5;
}

mat-card {
    max-width: 1200px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #000000;
}