<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <img mat-card-image src="assets/images/hawks_room.jpg" alt="Blackhawks Dressing Room" style="padding-left: 10px; padding-top: 10px;">
        <mat-card-content>
            <ul>
                <li>
                    Hi, I'm Michael Tanel and welcome to my site! I am a recent B.ASc graduate from Queen's University
                    for software engineering, and I am looking for a full-time position as a software developer/technical consultant.
                </li>
                <li>
                    The majority of my consulting work has been involving internal stakeholders from other departments, but I have also done 
                    some freelance work for a company where I would recommend software and write reports summarizing how the software solution 
                    I chose would solve their business problem.
                </li>
                <li>
                    I really enjoyed this work, and I would like to pursue a career in software development or technical consulting.
                </li>
            </ul>
        </mat-card-content>
    </div>
</mat-card>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>The Website</mat-card-title>
    </mat-card-header>
    <div style="display:flex; flex-direction: row; justify-content: left">
        <mat-card-content>
            <ul>
                <li>
                    This website was designed with Angular 7, and Google Material Design.
                </li>
            </ul>
        </mat-card-content>
    </div>
</mat-card>